.contenedor{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
h1, p{
    text-align: center;
    color: #85796b;
    font-family: "Montserrat", sans-serif;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}

h2 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
}

h3 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

.invisible {
    background-color: white;
}

body {
  background-image: url("alternative-images/candy-crush-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.score-board {
  background-color: pink;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}
@media screen and (min-width:320px) {
    header p{
        font-size: large;
    }
    .flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: center;
    }

    .score-board {
        margin-bottom: 2em;
        width: 250px
    }

    h2,
    h3 {
        font-size: 1.5em
    }

    .grid {
        height: 900px;
        width: 100%;
    }

    .grid div {
        height: 64px;
        width: 64px;
    }
}
@media screen and (min-width:420px){
    .grid div {
        height: 74px;
        width: 74px;
    }
}
@media screen and (min-width:580px){
    .score-board {
        width: 210px
    }
    h2,
    h3 {
        font-size: 2em;
    }
    .grid {
        height: 800px
    }
}
@media screen and (min-width:640px){
    h2,
    h3 {
        font-size: 1.5em
    }
    .grid {
        height: 700px
    }
}
@media screen and (min-width:720px){
    .grid {
        height: 600px
    }
}
@media screen and (min-width:740px){
    .score-board{
        margin-bottom: 1em
    }
}
@media screen and (min-width:780px){
    .score-board {
        width: 170px
    }
}
@media screen and (min-width:840px){
    .grid {
        height: 500px
    }
    .grid div {
        height: 73px;
        width: 73px;
    }
}
@media screen and (min-width:1200px){
    .grid div {
        height: 75px;
        width: 75px;
    }
}